@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Arapey');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #57AC74;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.title {
  font-size: 100px;
  height: 125px;
  color: #AC6E57;
  font-family: allerta stencil;
}

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}
/* Add a color to the active/current link */
.ui.container {
  float: left;
  margin-left: auto;
}
.ui.card { float: left; }

.ui.form {
  position: absolute;
}

.carousel {
  background-color: white;
}

.logos {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border: 3px solid #8AC007;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.idea1 {
  top: 50%;
  right: 39%
}

.idea2 {
  top: 50%;
  left: 60%;
}


.carousel {
  color: gray;
}

.myIdeasCard {
  left: 12%;
}

.myIdeasCard2 {
  left: 12%;
}

.carouselCard {
  background-color: blue;
}


.userForm {
  color: green;
  position: absolute; /* or absolute */
  top: 100%;
  left: 61%;
}

.ideaConnector {
  font-size: 10em;
  font-family: 'Arapey';
  color: white;
}

.homeCarousel {
  color: brown;
}

.cardColor {
  background-color: red;
}

.about{
  font-size: 15em;
  font-family: 'Arapey';
  color: white;
}

.yourIdea{
  font-size: 6em;
  font-family: 'Anton';
  color: #D2691E;
}

.aboutWords{
  font-size: 2em;
  font-family: 'Arapey';
  color: white;
}

.yourIdeaConnection{
  font-size: 4em;
  font-family: 'Arapey';
  color: white;
}

.words{
  font-size: 3em;
  top: 10%;
  font-family: 'Monoton';
  color: white;
}

.likedIdeas {
  top: 50%;
  left: 49%;
}

.ideaList {
  left: 50%;
  color: blue;
}

.ideasList {
  font-size: 2em;
  font-family: 'Anton';
  color: white;
  left: 80%
}

.yourIdeas {
  color: white;
}

.yourIdeaCard {
  left: 12%;
}

.likedIdeasText {
  font-size: 2em;
  font-family: 'Anton';
  color: #D2691E;
}

.description {
  font-family: 'Anton';
  color: #D2691E;
}

.likeName {
  font-family: 'Courgette'
}

.searchedIdeas {
  left: 90%;
}

.needIdea {
  left: 42%;
}

.ideaCard {
  font-size: 2em;
  font-family: 'Anton';
  color: #D2691E;
}

.companyInfo {
  font-size: 2em;
  font-family: 'Anton';
  color: #4682B4;
}

.companyInfo1 {
  font-size: 1em;
  font-family: 'Anton';
  color: #4682B4;
}

.offer {
  left: 80%;
}

.component {
  background-color: brown;
}

.accepted {
  color: green;
}

.rejected {
  color: red;
}

.acceptOffer {
  font-size: 1em;
  font-family: 'Anton';
  color: #D2691E;
}

.acceptOfferTitle {
  font-size: 1em;
  font-family: 'Anton';
  color: #D2691E;
}

.pic {
 background-size: cover;
 background-repeat: no-repeat;
 height: 500px;
}

.nav-wrapper {
  background-color: black;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

/* #footer {
  background-color: black;
  position: static;
  bottom:0;
  left:0;
  width:100%
} */

.login {
  left: 50%;
  top: 50%;
}

#carouselIdea {
  font-family: "Vollkorn SC"
}
